<!DOCTYPE html>
<html>
  <body>
    <p>Jenkins installed and pipeline created and pushed to git</p>
    <p>
      Next update pushed to git and jenkins pipeline triggered automatically
    </p>
    <p>Please fill out the form below:</p>
    <% if (typeof error !== "undefined") { %>
    <p style="color: red"><%= error %></p>
    <% } %>
    <form method="POST" action="/submit">
      <label>Name:</label><br />
      <input type="text" name="name" required /><br />
      <label>Email:</label><br />
      <input type="email" name="email" required /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
